<script>
  
  $(document).ready(function() {
    $('.example-link').click(function(e) {
      var $searchInput = $('.search-input');
      $searchInput.val($(this).text());
      $searchInput.focus();
      $('html, body').animate({scrollTop:0});
    });
  });  
  

</script>
<dl class="lead">
  <dt>
    <a class="example-link" href="#">Brase datacite</a>
  </dt>
  <dd>[add example queries </dd>
</dl>

