
<ul>
  <li>You can search with multiple names by using the standard
  boolean <em>OR</em> separator. Example: <a href="/?q=darwin%2C+charles+OR+dickens%2C+charles"><em>darwin,
      charles OR dickens, charles</em></a>.</li>
  <li>You can search again by either manually typing into the search box above and hit Enter<br />
   OR<br />
 you can <a href="/auth/signout?redirect_uri=https://orcid.org/account">log
    out</a> of this app, navigate to the <a href="https://orcid.org/account">Account Settings</a> &gt;
Personal Information part of your ORCID profile, add name(s) to the <em>Other
  names</em> field, save your profile, and finally log back  into this
   app to re-run the automatic search.</li>
</ul>

