<%= partial :search_header, :locals => {page: page} %>
<div class="row-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Example Queries</h2>
    <%= partial :help_list, :locals => {page: page} %>
  </div>
</div>
<%= partial :search_footer, :locals => {page: page} %>

