<div class="row-fluid">
  <% if page[:mini_header] %>
    <div class="span-header">
      <div class="pull-right">
        <div class="simple-nav-outer simple-nav-bump-up">
          <div class="simple-nav">
            <div class="pull-right">
              <%= partial :profile_link, {} %>
            </div>
            <a href="/help/search">Help  </a>
            <a href="<%= settings.contact_url %>">Contact</a>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="span-header span3">
      <a class="home-link" href="/">
        <img src="/images/logo.png"/>
      </a>
    </div>
    <div class="span-header span9 search-header">
      <div class="pull-right">
        <div class="simple-nav-outer">
          <div class="simple-nav smaller">
            <div class="pull-right">
              <%= partial :profile_link, {} %>
            </div>
          </div>
        </div>
      </div>
      <% if signed_in? %>
        <form action="/" method="GET">
          <div class="search-in-header">
            <input class="input input-xlarge search-input" name="q" placeholder="Search" style="width: 22em; padding-left: 2em;" type="text" value="<%= page[:bare_query] %>"></input>
            <i class="icon-search"></i>
          </div>
        </form>
      <% end %>
    </div>
  <% end %>
</div>
<hr/>

