<%= partial :search_header, :locals => {page: page} %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4>Search tips</h4>
    <%= partial :search_tips %>
  </div>
</div>
<%= partial :search_footer, :locals => {page: page} %>

